include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include requirements_dev.txt
include tox.ini

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.jar
recursive-exclude * *.kt
recursive-exclude * .idea .idea/*
recursive-exclude * .github .github/*
recursive-exclude scripts *

exclude .editorconfig .gitmodules *.yaml

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include pyswot *.txt
