name: Update Vendor Sources

on:
  schedule:
    - cron: '42 6 * * 2'
  workflow_dispatch:

env:
  MINIMUM_PYTHON_VERSION: "3.10"

jobs:
  sync:
    name: Update Vendor Sources
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ env.MINIMUM_PYTHON_VERSION }}

      - name: Update Vendor Sources
        run: uv run python ./scripts/update_vendor.py

      - name: Run black
        run: uv run black .

      - name: Run pre-commit
        run: uv run pre-commit run -a
        continue-on-error: true

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Automated vendor update
